// font
@import url('https://fonts.googleapis.com/css?family=Pacifico');

// variables
$white: #fff;
$mainRGBA: rgba(211, 211, 211, 0.27);
$purple: purple;
$emperor: #4f4f4f;
$concrete: #F3F3F3;
$purpleHeart: #673AB7;
$jaffa: #E9914A;
$hoverPurple: rgba(103, 58, 183, 0.27);
